<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>


<body class="{{ if .IsHome }}home{{ end }}">

	{{ partial "header.html" . }}

	<div id="sketch-container"></div>
    <!-- Add p5.js before your sketch -->
    <script>
		function isMobileDevice() {
			return (window.innerWidth <= 768) || 
				   (navigator.maxTouchPoints > 0) || 
				   (navigator.msMaxTouchPoints > 0) ||
				   (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
		}
		
		// Only load p5 and sketch if not mobile
		if (!isMobileDevice()) {
			const p5Script = document.createElement('script');
			p5Script.src = "https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js";
			document.body.appendChild(p5Script);
		
			p5Script.onload = () => {
				const sketchScript = document.createElement('script');
				sketchScript.src = '{{ "js/sketch.js" | absURL }}';
				document.body.appendChild(sketchScript);
			};
		}
		</script>

	{{ range .Site.Params.sections }}
	{{ partial . $ }}
	{{ end }}

	{{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->