<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>


<body class="{{ if .IsHome }}home{{ end }}">

	{{ partial "header.html" . }}

	<div id="sketch-container"></div>
    <!-- Add p5.js before your sketch -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
    <script src='{{ "js/sketch.js" | absURL }}'></script>

	{{ range .Site.Params.sections }}
	{{ partial . $ }}
	{{ end }}

	{{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->